* {box-sizing:border-box;}
body {
  background-color: rgb(165, 221, 62);
  font-family: sans-serif;
 }

#contain-all {
  width: 95%;
  margin: 0 auto;
}
#form-container {
  padding: 5px;
}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}

.greeting {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

.wikipedia-container {
    float:right;
    padding:20px;
    margin-right: 10px;
    background-color: rgba(241, 244, 66,0.7);
    border-radius: 5px;
    width: 35%;
    min-height: 150px;
}

#wikipedia-links {
  padding-left: 0;
}

.nytimes-container {
    padding: 20px;
    margin-right:300px;
    background-color: rgba(241, 244, 66,0.7);
    border-radius: 5px;
    width: 60%;
    min-height: 150px;
}

.article-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.article, .article-list a {
    list-style-type: none;
    text-decoration: none;
    padding:0px;
    color: #000;
}
.article:first-child {
    border-top:none;
}